<div class="container">
  <form autocomplete="off" #loginForm="ngForm">
    <div class="grid p-fluid">
      <div class="col-12">
        <div>
        </div>
      </div>
      <div class="col-12">
        <span class="p-float-label">
          <input pInputText type="email" name="email" id="email" [(ngModel)]="email" ngModel required #user
            autocomplete="email">
          <label for="inputtext"><i class="pi pi-user"></i> E-mail</label>
        </span>
      </div>
      <div class="col-12 input">
        <span class="p-float-label">
          <input pInputText type="password" name="password" [(ngModel)]="senha" id="password" ngModel required
            #password>
          <label for="inputtext"><i class="pi pi-lock"></i> Mot de passe</label>
        </span>
      </div>
      <div class="col-12 passcheck">
        <div class="field-checkbox">
          <p-checkbox [binary]="true" [(ngModel)]="lembrarMe" name="lembrarMe" inputId="binary"></p-checkbox>
          <label for="binary">Mémoriser</label>
        </div>
        <div class="link">
          <!--<a href="">Mot de passe oublié?</a>-->
        </div>
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"
          (click)="login(user.value, password.value); password.value=''">
        </button>
      </div>
    </div>
  </form>
</div>
