.table{
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

button{
  background-color: 	#191970;
}

button:hover{
  background-color: #191970 !important;
  color: #33ffe5 !important;
}

.action{
  margin: 2px;
}

.checkbox{
  margin-left: 5px;
  margin-top: 5px;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Blippo, fantasy;
  color: #22559c;
}


