p{
  cursor: inherit;
}

.center{

  margin-left: 100px;
  color: #A9A9A9;
  font-size: 30px;
  font-family: Blippo, fantasy;


}


button:hover{
  background-color: #191970 !important;
  color: #33ffe5 !important;
}
