<div class="class=" container-home>
  <p-toolbar>
    <button pButton (click)="showDialog()" label="Ajouter" icon="pi pi-plus"></button>
    <div class="dropdown">
      <p-dropdown [style]="{ 'margin-right': '3px', 'width': '250px' }" optionValue="id" optionLabel="name"
        [options]="sectors" [(ngModel)]="sectorSelected" name="sectorSelected" (onChange)="listEstablishments()"
        placeholder="Secteur"></p-dropdown>
      <p-dropdown [style]="{ 'margin-left': '3px', 'width': '250px' }" optionValue="id" optionLabel="name"
        [options]="establishments" name="establishmentsSelected" (onChange)="listProductForEstablischment()"
        [(ngModel)]="establishmentsSelected" placeholder="Établissement" [disabled]="!sectorSelected"></p-dropdown>
    </div>
    <div>56456989879879jhgjgjhgj</div>
  </p-toolbar>

  <div class="table">
    <p-table [value]="products" [paginator]="true" [rows]="filter.itemsPage" [lazy]="true"
      [totalRecords]="totalRegisters" (onLazyLoad)="whenChangingPage($event)">

      <ng-template>
        <div class="flex">

        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Modèle</th>
          <th>Nom du produit</th>
          <th class="col-data-header">Numéro de série</th>
          <th class="col-data-header">Enseignant</th>
          <th class="col-valor-header">Établissement</th>
          <th>Actions</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.model.name }}</td>
          <td>{{ product.name }}</td>
          <td class="col-data-content">{{ product.serialNumber }}</td>
          <td class="col-data-content">{{ product.professional.name }}</td>
          <td class="col-valor-content">{{ product.establishment.name }}</td>
          <td>
            <button class="action" pButton icon="pi pi-pencil"></button>
            <button class="action" pButton icon="pi pi-eye"></button>
            <button class="action" pButton icon="pi pi-trash"></button>
          </td>

        </tr>
      </ng-template>


    </p-table>
  </div>

<!--Modal (Bouton +Ajouter)-->
  <p-dialog header="Ajouter des produits" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }">
    <div class="card">
      <p-dropdown [style]="{ 'margin-right': '3px', 'width': '250px' }" [(ngModel)]="modelSelected" optionValue="id" optionLabel="name" [options]="models" placeholder="Modèle"></p-dropdown>
      <p-dropdown [style]="{ 'margin-left': '3px', 'width': '250px' }" optionValue="id" optionLabel="name" [options]="establishments" placeholder="Établissement"></p-dropdown>
      <h2>Entrez le numéro de série</h2>

      <div class="input-container">
        <input pInputText [(ngModel)]="newCode" (keydown.enter)="codeAdd()" placeholder="Numéro de série" />
        <button pButton label="Adicionar" icon="pi pi-plus" (click)="codeAdd()"></button>
      </div>
      <p-table [value]="serialNumber">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Numéro de série</th>
            <th>Modèle</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-code let-index="rowIndex">
          <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ code }}</td>
            <td *ngIf="modelSelected; messageElse" >{{ models[modelSelected! -1].name }}</td>
            <td #messageElse></td>
            <td>
              <button pButton icon="pi pi-trash" class=" p-button-danger" (click)="codeRemove(index)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="flex justify-end gap-2">
      <button pButton label="Save" (click)="visible = false"></button>
    </div>
  </p-dialog>

</div>
