<div class="container-home">

  <p-toolbar>
    <button pButton label="Normal" icon="pi pi-plus"></button>
    <div class="dropdown">
      <p-dropdown class="menuDrop" optionValue="id" optionLabel="name" [options]="sectors" [(ngModel)]="establishmentsSelected"
      name="establishmentsSelected" (onChange)="listEstablishments()" placeholder="Secteur"></p-dropdown>
      <p-dropdown class="menuDrop" optionValue="id" optionLabel="name" [options]="establishments" placeholder="Établissement"></p-dropdown>
    </div>
    <div>333333</div>
  </p-toolbar>

<div class="grid table">
  <div class="col-12 p-fluid p-body">
    <p-table [value]="products" [paginator]="true" [rows]="filter.itemsPage"
    [lazy]="true" [totalRecords]="totalRegisters" (onLazyLoad)="whenChangingPage($event)">

      <ng-template pTemplate="header">
        <tr>
            <th>Modèle</th>
            <th>Nom du produit</th>
            <th class="col-data-header">Numéro de série</th>
            <th class="col-data-header">Enseignant</th>
            <th class="col-valor-header">Établissement</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.model.name }}</td>
            <td>{{ product.name }}</td>
            <td class="col-data-content">{{ product.serialNumber }}</td>
            <td class="col-data-content">{{ product.professional.name }}</td>
            <td class="col-valor-content">{{ product.establishment.name }}</td>
        </tr>
    </ng-template>

    </p-table>
  </div>
</div>


</div>
