<div class="class="container-home>
  <p-toolbar>
    <button pButton label="Ajouter" icon="pi pi-plus"></button>
    <div class="dropdown">
      <p-dropdown [style]="{ 'margin-right': '3px', 'width': '250px' }" optionValue="id" optionLabel="name" [options]="sectors" [(ngModel)]="sectorSelected"
      name="sectorSelected" (onChange)="listEstablishments()" placeholder="Secteur"></p-dropdown>
      <p-dropdown [style]="{ 'margin-left': '3px', 'width': '250px' }" optionValue="id" optionLabel="name" [options]="establishments"
       name="establishmentsSelected" (onChange)="listProductForEstablischment()"
        [(ngModel)]="establishmentsSelected" placeholder="Établissement" [disabled]="!sectorSelected"></p-dropdown>
    </div>
    <div>56456</div>
  </p-toolbar>

  <div class="table">
   <p-table  [value]="products" [paginator]="true" [rows]="filter.itemsPage"
   [lazy]="true" [totalRecords]="totalRegisters" (onLazyLoad)="whenChangingPage($event)">

   <ng-template>
    <div class="flex">

    </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
          <th>Modèle</th>
          <th>Nom du produit</th>
          <th class="col-data-header">Numéro de série</th>
          <th class="col-data-header">Enseignant</th>
          <th class="col-valor-header">Établissement</th>
          <th>Actions</th>

      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{ product.model.name }}</td>
          <td>{{ product.name }}</td>
          <td class="col-data-content">{{ product.serialNumber }}</td>
          <td class="col-data-content">{{ product.professional.name }}</td>
          <td class="col-valor-content">{{ product.establishment.name }}</td>
          <td>
            <button class="action" pButton icon="pi pi-pencil"></button>
            <button class="action" pButton icon="pi pi-eye"></button>
            <button class="action" pButton icon="pi pi-trash"></button>
        </td>

      </tr>
  </ng-template>


   </p-table>
  </div>

</div>
